* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Sans-Serif;
 
}

html {
    background-color: #EFEFEF;
}

body {
  margin: 50px;
  
}

