.allignment {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.centerize {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  display: flex;
  margin: 20px;
}

.title-column {
  min-width: 250px;
}

.input-column {
  min-width: 350px;
}

mat-icon {
  margin: 0 5px 0 5px;
}

.padding-icon {
  padding-right: 20px;
}