table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 11pt;
}

th {
  background-color: rgb(203, 203, 203);
}

td {
  color: #444444;
  background-color: white;
}

td input {
  border: none;
  width: 100%;
}

td input:focus {
  outline-width: 0;
}

.allignment {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.centerize {
  display: flex;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.padding-icon {
  padding-right: 20px;
}


.edit-button-color {
  color: gray;
}

.delete-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding: unset;
  color: #630606;
  background-color: transparent;
}


.icon-functions {
  padding: 5px;
}

.icon-functions mat-icon{
  margin: 5px;
}

mat-icon {
  cursor: pointer
}

.align-icons{ 
  display: flex;
  align-items: center;
  cursor: pointer;
}
